<div class="container">
    <div class="row">
       <div class="col-md-12">
          <div id="content" class="content content-full-width">
             <!-- begin profile -->
             <div class="profile">
                <div class="profile-header">
                   <!-- BEGIN profile-header-cover -->
                   <div class="profile-header-cover" length="100px"><img src="../../assets/image/cover.jpg" width="100%" height="100%"></div>
                   <div class="profile-header-content">
                      <div class="profile-header-img">
                         <img src=".png" alt="">
                      </div>
                      <div class="profile-header-info">
                         <h4 class="m-t-10 m-b-5">Amine Saidani</h4>
                         <p class="m-b-10">Eniso Student</p>
                         <a  href="/edit-profile" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                      </div>
                   </div>
                   <ul class="profile-header-tab nav nav-tabs">
                      <li class="nav-item"><a href="#profile-post" class="nav-link active show" data-toggle="tab">POSTS</a></li>
                      <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
                      <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>
                   </ul>
                </div>
             </div>
             <div class="profile-content">
                <div class="tab-content p-0">
                   <div class="tab-pane fade active show" id="profile-post">
                      <ul class="timeline">
                         <li>
                            <div class="timeline-time">
                              
                            </div>
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <div class="timeline-body">
                               <div class="timeline-header">
                                  <span class="userimage"><img src="" alt=""></span>
                                  <span class="username"><a href="javascript:;">Amine Saidani</a> <small></small></span>

                               </div>
                               <div class="timeline-content">
                                  
                                  <p>Atomic Habits: An Easy & Proven Way to Build Good Habits & Break
                                    I really liked this book because the way James Clear lays down the facts and the processes of becoming better are very helpful. It's different from a lot of other authors of self help books who just tell you how to fix your problems because of the many specific actions Clear proposes to work, specifically the table for making good habits and shrinking bad ones. The table goes into great detail, creating a step by step like feeling to improve yourself which I feel is helpful for me at least seeing as I am majoring in mathematics. Another thing that Clear does well is giving examples for each of his points. At the beginning of almost every chapter, Clear gives an example that shows how that idea is viable. This really makes the methods he discusses to feel actually real instead of a concept that is said to work. Overall, I think that Clear’s book is effective in its goal and I think it is really good.</p>
                                    <br><img src="../../assets/image/atomic.jpg">
                               </div>
                               <div class="timeline-likes">
                                  <div class="stats-right"> 
                                  </div>
                                  <div class="stats">
                                     <span class="fa-stack fa-fw stats-icon">
                                     <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                     <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                     </span>
                                     <span class="fa-stack fa-fw stats-icon">
                                     <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                     <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                     </span>
                                  </div>
                               </div>
                               <div class="timeline-footer">
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                               </div>
                               <div class="timeline-comment-box">
                                  <div class="user"><img src="g"></div>
                                  <div class="input">
                                     <form action="">
                                        <div class="input-group">
                                           <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                                           <span class="input-group-btn p-l-10">
                                           <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
                                           </span>
                                        </div>
                                     </form>
                                  </div>
                               </div>
                            </div>
                            <!-- end timeline-body -->
                         </li>
                         <li>
                            <!-- begin timeline-time -->
                            <div class="timeline-time">
                               
                            </div>
                            <!-- end timeline-time -->
                            <!-- begin timeline-icon -->
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <!-- end timeline-icon -->
                            <!-- begin timeline-body -->
                            <div class="timeline-body">
                               <div class="timeline-header">
                                  <span class="userimage"><img src="httpng" alt=""></span>
                                  <span class="username">Amine Saidani</span>
                               </div>
                               <div class="timeline-content">
                                  <p>This book is just amazing! Having no words to describe it. It contains the power to change our thinking about this world, it can really break the limitational boundaries of our understanding! Every person should must read this book once at least💕</p>
                                  <br><img src="../../assets/image/7habits.jpg">
                               </div>
                               <div class="timeline-footer">
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                               </div>
                            </div>
                            <!-- end timeline-body -->
                         </li>
                         <li>
                            <!-- begin timeline-time -->
                            <div class="timeline-time">
                              
                            </div>
                            <!-- end timeline-time -->
                            <!-- begin timeline-icon -->
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <!-- end timeline-icon -->
                            <!-- begin timeline-body -->
                            <div class="timeline-body">
                               <div class="timeline-header">
                                  <span class="userimage"><img src="https:r3.png" alt=""></span>
                                  <span class="username">Amine Saidani</span>
                               </div>
                               <div class="timeline-content">
                                 
                                    
                                     <p>I really liked this book because the way James Clear lays down the facts and the processes of becoming better are very helpful. It's different from a lot of other authors of self help books who just tell you how to fix your problems because of the many specific actions Clear proposes to work, specifically the table for making good habits and shrinking bad ones. The table goes into great detail, creating a step by step like feeling to improve yourself which I feel is helpful for me at least seeing as I am majoring in mathematics. Another thing that Clear does well is giving examples for each of his points. At the beginning of almost every chapter, Clear gives an example that shows how that idea is viable. This really makes the methods he discusses to feel actually real instead of a concept that is said to work. Overall, I think that Clear’s book is effective in its goal and I think it is really good.</p>
                                    <br>
                                     <img src="../../assets/image/aaret.jpg">
                        
                               </div>
                               <div class="timeline-footer">
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                               </div>
                            </div>
                            <!-- end timeline-body -->
                         </li>
                         <li>
                            <!-- begin timeline-time -->
                            <div class="timeline-time">
                            </div>
                            <!-- end timeline-time -->
                            <!-- begin timeline-icon -->
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <!-- end timeline-icon -->
                            <!-- begin timeline-body -->
                            <div class="timeline-body">
                               <div class="timeline-header">
                                  <span class="userimage"><img src="https://bootar3.png" alt=""></span>
                                  <span class="username">Amine Saidani</span>
                                 
                               </div>
                               <div class="timeline-content">
                                  <h4 class="template-title">
                                     <i class="fa fa-map-marker text-danger fa-fw"></i>
                                     
                                  </h4>
                                  <p class="m-t-20">
                                     <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                                  </p>
                               </div>
                               <div class="timeline-footer">
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                  <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                               </div>
                            </div>
                            <!-- end timeline-body -->
                         </li>
                         <li>
                            <!-- begin timeline-icon -->
                            <div class="timeline-icon">
                               <a href="javascript:;">&nbsp;</a>
                            </div>
                            <!-- end timeline-icon -->
                            <!-- begin timeline-body -->
                            <div class="timeline-body">
                               Loading...
                            </div>
                            <!-- begin timeline-body -->
                         </li>
                      </ul>
                      <!-- end timeline -->
                   </div>
                   <!-- end #profile-post tab -->
                </div>
                <!-- end tab-content -->
             </div>
             <!-- end profile-content -->
          </div>
       </div>
    </div>
 </div>