
<img src="assets/image/overview_header.jpg" width="1500" > <br>
<div class="b-example-divider"></div>

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Welcome to Maktebti</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">subscribe on our website and begin your journey looking for the books you like with more ease and simplicity.Enjoy your time!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/sign-in" class="btn btn-success">sign In</a>
        <a href="/sign-up" class="btn btn-success">sign Up</a>
    </div>
  </div>
  
</div>