<div class="sidebar">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/create-book" >Sell or loan </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" >Categories</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/search-category?category=history">HISTORY</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/search-category?category=children">CHILDREN's BOOKS</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/search-category?category=education">EDUCATION</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/search-category?category=religion">RELIGION</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="books/search-category?category=entertainment">ENTERNAINMENT</a>
    


 </div>

