<div class="container-fluid" *ngIf="showScreen">

  <div class="row">

    <div class="col-md-4">

      <div class="user-list-card">
        <div class="user-card"
             [ngClass]="user?.phone === selectedUser?.phone && 'active'"
             *ngFor="let user of userList"
             (click)="selectUserHandler(user?.phone)"
        >

          <img [src]="user?.image"
               [alt]="user?.name"
               class="avatar"
          />
          <p class="username">{{user?.name}}</p>

        </div>
      </div>

    </div>
    <div class="col-md-8">

      <div class="chat-container">
        <ng-container *ngIf="selectedUser">
          <div class="chat-header">

            <img [src]="selectedUser?.image"
                 [alt]="selectedUser?.name"
                 class="avatar"
            />
            <p class="username">{{selectedUser?.name}}</p>

          </div>

          <div class="chat-body">
            <div *ngFor="let item of messageArray"
                 [ngClass]="item?.user === currentUser?.name && 'same-user'"
            >
              <p class="message-container">{{item?.message}}</p>
            </div>
          </div>

          <div class="chat-footer">

            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input type="text"
                         placeholder="Type a message"
                         class="form-control"
                         [(ngModel)]="messageText"
                         (keyup)="$event.keyCode === 13 && sendMessage()"
                  />
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <button class="btn btn-primary btn-sm px-3"
                        (click)="sendMessage()" required >Send
                </button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div>
<ng-template #popup let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">

        <div class="form-group">
          <input type="number"
                 placeholder="Enter your password"
                 class="form-control"
                 [(ngModel)]="phone"
          />
        </div>

      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" style = "background-color:#C3073F;" (click)="cancel(d)">Cancel</button>
    <button class="btn btn-sm btn-primary" (click)="login(d)">Login</button>
    
  </div>

</ng-template> 
<!-- <div>
    <h2>chat</h2>
    <div id="chat-window">
      <div id="output" *ngFor="let data of output">
          <p><strong>{{data.handle}} : </strong>{{data.message}}</p>
      </div>
      <div id="feedback"><p>{{feedback}}</p></div>
    </div>
    <input id="handle" type="text" [(ngModel)]="userName" placeholder="Handle" />
    <input id="message" type="text" [(ngModel)]="message" placeholder="Message" autocomplete="off"
      (keypress)="messageTyping()" />
    <button type="button" id="send" style="cursor: pointer;" (click)="sendMessage()">Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../../../back-end/main.js"></script>
</div> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="./chat.component.css">
  <title>ChatCord App</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fas fa-smile"></i> ChatCord</h1>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name">JavaScript</h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
          <li>Brad</li>
          <li>John</li>
          <li>Mary</li>
          <li>Paul</li>
          <li>Mike</li>
        </ul>
      </div>
      <div class="chat-messages">
					<div class="message">
						<p class="meta">Brad <span>9:12pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div>
					<div class="message">
						<p class="meta">Mary <span>9:15pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div>
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../../../back-end/main.js"></script>
</body>
</html> -->


