
    

        <section class="py-5">
            <div class="container px-4 px-lg-10 mt-8">
                
                
                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <app-sidebar></app-sidebar>
                    
                    <div class="col mb-5" *ngFor="let product of productList" >
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{product.rating}} ⭐</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name routerLink='/books/view-book/{{ product.id }}''   --> 
                                    <h5 class="fw-bolder pointer-link" [routerLink]="['/books/view-book/'+product._id ]"  > {{ product.name }} </h5>
                        
                                    <h6 class="text-muted text-align:center" > By : {{ product.author }} </h6>
                                    <!-- Product price-->  
                                    <span class="text-success "> ${{ product.price }} </span>
                                    <!-- <div class="card-body p-4">
                                        
                                    </div> -->
                                </div>
                            </div>
                            
                            
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </section>

