<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color:#2b6777;" >
  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color:white" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" style="color:white" routerLink='/chat'>chat</a>
        </li>
        <li>
          <a class="nav-link" style="color:white" routerLink= '/books/list-books'>Buy and Loan</a>
        </li>
        <li>
          <a class="nav-link" style="color:white" routerLink= '/community'>community</a>
        </li>
        <li>
          <a class="nav-link" style="color:white" routerLink= '/help'>Help</a>
        </li>
        <li>
          <a class="nav-link" style="color:white" routerLink= '/aboutUs'>About Us</a>
        </li>
        <li>
          <a class="nav-link" style="color:white" routerLink= '/profile'>profile</a>
        </li>
       
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="color: white;" type="submit">Search</button>
      </form>
    </div>
  </nav>
  