<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
    <br/>
       <form (submit)="OnSubmitSave()" >   
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info-circle fa-10x"></i></span>
                    <input type="text" [(ngModel)]="name" name="name" class="form-control"  placeholder="Please enter book name" required="required">     
                </div>
            <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info-circle fa-10x"></i></span>
                    <input type="text" [(ngModel)]="author" name="author" class="form-control"  placeholder="Please enter the author's name" required="required">    
                </div> 
            <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info-circle fa-10x"></i></span>
                    <input type="text" [(ngModel)]="description" name="description" class="form-control"  placeholder="Please enter descripton or any comment " required="required">     
                </div>
             <br/>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-window-maximize fa-10x"></i></span>
                    <input type="text" [(ngModel)]="imageLink" name="imageLink" class="form-control"  placeholder="Please enter the book photos" required="required">     
                 </div>
            <br/>
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-envelope fa-10x"></i></span>
                     <input type="text" [(ngModel)]="price" name="price" class="form-control"  placeholder="Please enter your price" required="required">     
                </div>
            <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info-circle fa-10x"></i></span>
                    <input type="text" [(ngModel)]="category" name="category" class="form-control"  placeholder="Please enter the book's gategory " required="required">     
                </div>
            <br/>       
                <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-thumbs-up fa-10x"></i></span>
                    <input type="text" [(ngModel)]="rating" name="rating" class="form-control"  placeholder="Please enter the book's rate" required="required">     
                </div>
            <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user  fa-10x"></i></span>
                    <input type="text" [(ngModel)]="userphone" name="userphone" class="form-control"  placeholder="Please enter you phone number" required="required">     
                </div>
            <br/>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-10x"></i></span>
                    <input type="text" name="useremail" [(ngModel)]="useremail"  class="form-control"  >     
                </div>
            <br/>       


            <button type="submit" class="btn btn-default" value="submit">Submit</button>
        </form>
    </div>
</div>
